[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
e1839a8 = {path = ".",editable = true}
libgutenberg = ">=0.10.5"
psycopg2 = "*"
docutils = ">=0.18.1"
ebookmaker = {editable = true, path = "."}
