[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
e1839a8 = {path = ".",editable = true}
ebookmaker = {editable = true,path = "."}
libgutenberg = "==0.8.7"
psycopg2 = "*"
