[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
e1839a8 = {path = ".",editable = true}
ebookmaker = {editable = true, extras = ["covers", "postgres"], path = "."}
libgutenberg = ">=0.9.3"
psycopg2 = "*"
docutils = ">=0.18.1"
