body {
   color: black;
   background-color: white;
   }


h2 {
   string-set: title content(text);
   break-before: page;
   padding-top: 1em
}

div.figcenter span.caption {
   display: block;
   }

#project-gutenberg-url {
    string-set: project-gutenberg-url attr(href);
}
#pg-header {
    break-after: page;
}
#pg-footer {
    break-before: page;
}

.x-ebookmaker-cover {
      text-align: center;
      break-after: page;
      text-indent: 0;
      width: 100%;
      height: 100%;
    }

@page {
  size: 215mm 279mm;
  @top-center {
    content: string(title);
    font-size: 12pt;
    font-style: italic;
  }
  @bottom-center {
    content:  'Project Gutenberg' string(project-gutenberg-url);
    font-size: 10pt;
    margin-top: 0;

  }
  @top-right-corner {
    content:  counter(page);
    font-size: 12pt;
    font-style: bold;
  }
    margin: 20mm;
}

